In [1]:
# import packages for cleaning and exploratory analysis
import pandas as pd
import seaborn as sns
% matplotlib inline

In [2]:
df2010 = pd.read_csv('/Users/Elliot/Desktop/SocrataInput/VA Hospital compare data - export - 2010_Q4.csv')
df2011 = pd.read_csv('/Users/Elliot/Desktop/SocrataInput/VA Hospital compare data - export - 2011_Q4.csv')
df2012 = pd.read_csv('/Users/Elliot/Desktop/SocrataInput/VA Hospital compare data - export - 2012_Q4.csv')
df2013 = pd.read_csv('/Users/Elliot/Desktop/SocrataInput/VA Hospital compare data - export - 2013_Q4.csv')
df2014 = pd.read_csv('/Users/Elliot/Desktop/SocrataInput/VA Hospital compare data - export - 2014_Q3.csv')

In [3]:
va_json = pd.read_json('https://raw.githubusercontent.com/department-of-veterans-affairs/VHA-Facilities/master/VAFacilityLocation.json', orient='columns')

In [4]:
va_json = va_json.drop(va_json.columns[[0,1,2,3]], axis = 1)

In [5]:
df_va_json = pd.read_json((va_json.VAFacilityData).to_json(), orient='index')

In [6]:
df_va_json = df_va_json[df_va_json.type == 'VA Medical Center']

In [7]:
df_va_json = df_va_json.drop(df_va_json.columns[[0,2,4,7,8,9,10,12,13]], axis = 1)

In [8]:
df_va_json = df_va_json.rename(columns={'city': 'CITY', 'facility_id': 'FACILITY', 'latitude': 'LATITUDE', 'longitude':'LONGITUDE', 'state': 'STATE'})

In [9]:
df_va_json.head()

                CITY FACILITY   LATITUDE   LONGITUDE STATE
10        West Haven      689  41.284505  -72.957551    CT
1008        Cheyenne      442  41.145865 -104.787676    WY
1009  Grand Junction      575  39.077183 -108.540342    CO
1010        Sheridan      666  44.826823 -106.984918    WY
11           Augusta      402  44.279805  -69.701815    ME

In [10]:
df2010 = df2010.assign(YEAR = 2010)
df2011 = df2011.assign(YEAR = 2011)
df2012 = df2012.assign(YEAR = 2012)
df2013 = df2013.assign(YEAR = 2013)
df2014 = df2014.assign(YEAR = 2014)

In [11]:
df2010 = df2010.assign(QUARTER = 'Q4')
df2011 = df2011.assign(QUARTER = 'Q4')
df2012 = df2012.assign(QUARTER = 'Q4')
df2013 = df2013.assign(QUARTER = 'Q4')
df2014 = df2014.assign(QUARTER = 'Q3')

In [12]:
frames = [df2010,df2011,df2012,df2013,df2014]

df = pd.concat(frames)

In [13]:
df_avg = df[df.FACILITY == '0']
# df_avg = pd.merge(left=df_avg, right=df_va_json, how='left', left_on='FACILITY', right_on='FACILITY')
# duplicate values on facility_id 598 (x2), 640 (X3), 673 (x2)
# df_avg = df_avg.drop('LOCATION', 1)
df_avg.to_csv('VA Aspire Dashboard Average.csv')

In [14]:
df = df[df.FACILITY != '0']

In [15]:
df.count()

MEASURE     62160
TYPE        62160
HILO        33300
DECS        62160
GOAL        25456
AVG         35964
VISN        62160
FACILITY    62160
LOCATION    62160
VALUE       25138
SCORE       62160
TREND       13761
NOTES       62160
YEAR        62160
QUARTER     62160
dtype: int64

In [16]:
df = pd.merge(left=df, right=df_va_json, how='left', left_on='FACILITY', right_on='FACILITY')
# duplicate values on facility_id 598 (x2), 640 (X3), 673 (x2)

In [17]:
df.count()

MEASURE      63840
TYPE         63840
HILO         34200
DECS         63840
GOAL         26144
AVG          36936
VISN         63840
FACILITY     63840
LOCATION     63840
VALUE        26039
SCORE        63840
TREND        14201
NOTES        63840
YEAR         63840
QUARTER      63840
CITY         51660
LATITUDE     51660
LONGITUDE    51660
STATE        51660
dtype: int64

In [19]:
df = df.drop('LOCATION', 1)

In [20]:
df.head()

,MEASURE,TYPE,HILO,DECS,GOAL,AVG,VISN,FACILITY,VALUE,SCORE,TREND,NOTES,YEAR,QUARTER,CITY,LATITUDE,LONGITUDE,STATE
0,Safety - Healthcare associated infections - MR...,outcomes,lower,2,0,0.1992,1,402,0.22,4,-1,value within 10% of aspirational goal;,2010,Q4,Augusta,44.279805,-69.701815,ME
1,Safety - Healthcare associated infections - MR...,outcomes,lower,2,0,0.1992,1,405,0.10,4,0,value within 10% of aspirational goal;,2010,Q4,White River Junction,43.648498,-72.342911,VT
2,Safety - Healthcare associated infections - MR...,outcomes,lower,2,0,0.1992,1,518,NaN,0,NaN,no data available;,2010,Q4,Bedford,42.502902,-71.272671,MA
3,Safety - Healthcare associated infections - MR...,outcomes,lower,2,0,0.1992,1,523A4,0.18,4,0,value within 10% of aspirational goal;,2010,Q4,West Roxbury,42.270702,-71.171977,MA
4,Safety - Healthcare associated infections - MR...,outcomes,lower,2,0,0.1992,1,523A5,NaN,0,NaN,no data available;,2010,Q4,Brockton,42.065109,-71.054714,MA

In [21]:
df.to_csv('VA Aspire Dashboard.csv')